{% load static %}
<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Minha Confeitaria{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'catalogo/style.css' %}">
</head>
<body>
    <header>
        <h1><a href="{% url 'catalogo:home' %}">Minha Confeitaria</a></h1>
        <p>
            <a href="{% url 'catalogo:lista_bolos' %}">Bolos</a> |
            <a href="{% url 'catalogo:novo_bolo' %}">Cadastrar bolo</a>
        </p>
    </header>

    <main>
        {% block content %}{% endblock %}
    </main>

    <footer>
        Minha Confeitaria
    </footer>
</body>
</html>
